.friendSection img{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: white;
}

.title{

}

.friendSection div {
    display: inline-block;
    margin-left: 5px;
    text-align: center;
}

.friendSection div:hover {
    color: gold;
}
