.navbar {
  grid-area: navbar;
  background-color: darkblue;
  padding: 15px 20px;
}

.item {
  color: white;
  text-decoration-line: none;
}

.active {
  color: gold;
  text-decoration-line: none;
}

.navFriendSection{
  height: 100px;
  color: white;
}