.app-wrapper {
  /* text-align: center; */
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

}

.header{
  grid-area: header;
  background-color: brown;
  /* max-height: auto; */
}


.navbar{
  grid-area: navbar;
  background-color: darkblue;
}

.content{
  grid-area: content;
  background-color: chartreuse;
}